* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  /* background: brown; */
}
header {
  /* display: flex; */
  width: 100%;
  height: 10vh;
  /* justify-content: right; */
}
nav {
  display: flex;
  width: 100%;
  height: 36px;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 15px;
  padding: 15px 10px 10px 0px;
  font-size: 13px;
  align-items: center;
}
#app-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  background-image: url(./menu.svg);
  cursor: pointer;
}
#app-icon:hover {
  background-image: url(./menu\ black.svg);
}
#google-plus-icon {
  height: 32px;
}
#nav-left {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 180px;
}
#nav-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin-right: 20px;
}
a {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#google-logo {
  display: flex;
  position: relative;
  top: 100px;
  margin: auto;
}
#search-container {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 130px;
  width: 800px;
  height: 60px;
  margin: auto;
  padding: 0 10px;
  justify-content: space-between;
}
#input-container {
  display: flex;
  margin: 0px auto 0px auto;
  justify-content: space-evenly;
  align-items: center;
  width: 600px;
  height: 48px;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  /* padding: 50px 0px 50x 0px; */
  border-radius: 24px;
}
#input-container:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
#search-icon {
  color: #9aa0a6;
  height: 25px;
  width: 25px;
}
#microphone-icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
}
#input-container input {
  height: 40px;
  width: 480px;
  font-size: 1.3rem;
  border-style: none;
}
#button-container {
  display: flex;
  position: relative;
  top: 50px;
  margin: 0 130px;
  justify-content: center;
  width: 500px;
}
#button-container button {
  height: 36px;
  min-width: 60px;
  font-size: 14px;
  padding: 0 16px;
  background-color: #f2f2f2;
  border: 1px solid #f2f2f2;
  color: #5f6368;
}
#button-container button:hover {
  border: 1px solid #c6c6c6;
  background-color: #f8f8f8;
  border-radius: 6px;
  color: #222;
}
footer {
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 15vh;
  width: 100%;
  bottom: 5px;
  justify-content: space-between;
  padding: 30px 30px 30px 30px;
  font-size: 14px;
  color: #5f6368;
  background: rgb(236, 236, 236);
  border-top: 1px solid #e4e4e4;
}
footer a {
  color: #5f6368;
}
#footer-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #e4e4e4;
}
#footer-links-left {
  width: 320px;
}
#footer-links-right {
  width: 220px;
}
#footer-links-left,
#footer-links-right {
  display: flex;
  justify-content: space-between;
}
